.about {
    min-height:100vh;
    padding-top: 80px;
}

.about-services {
    border: none !important;
}

.about-services-img {
    background-color: #04c2c9;
    border: none !important;
}

.profile img {
    height: 250px;
}

.prog-language img {
    height: 35px;
    width: 35px;
}